.radio-buttons {
   width: 100%;
   margin: 0 auto;
}

.custom-radio .radio-btn input {
   width: auto;
   position: absolute;
   top: 10px;
   left: 10px;
}

.radio-btn {
   margin: 10px;
   width: 150px;
   height: 150px;
   border: 3px solid transparent;
   display: inline-block;
   border-radius: 10px;
   position: relative;
   text-align: center;
   box-shadow: 0 0 20px #c3c3c367;
   cursor: pointer;
}

.radio-btn .hobbies-icon {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.radio-btn .hobbies-icon h3 {
   color: #8373e6;
   font-family: "Raleway", sans-serif;
   font-size: 14px;
   font-weight: 400;
   text-transform: uppercase;
}

.check-icon {
   position: absolute;
   top: 0;
   left: 50%;
   transform: translate(-50%, 0%);
}

.main-form-container {
   margin: 40px auto;
   background-color: white;
   max-width: 90%;
   border-radius: 15px;
   padding: 1rem;
   box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.1);
   display: flex;
   justify-content: space-between;
   gap: 2rem;
}

.profile-form-container {
   flex-grow: 1.5;
   padding: 1rem;
   display: flex;
   flex-direction: column;
   gap: 2rem;
}

.form-heading-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.img-upload-container {
   display: flex;
   align-items: center;
   gap: 1.85rem;
}

.profile-image {
   width: 130px;
   height: 130px;
   object-fit: cover;
   border-radius: 6px;
   box-shadow: 0 0 12px 0px rgba(0, 0, 0, 0.2);
}

.profile-image-error {
   color: red;
   font-size: 14px;
   min-width: 240px;
   position: absolute;
   bottom: -40px;
}

.upload-img {
   cursor: pointer;
   font-size: 18px;
   font-weight: 600;
   color: #7B1FA2;
}

.subscription-btn {
   color: #7B1FA2;
   border: 1px solid #7B1FA2;
   padding: 0.45rem 1.25rem;
   background-color: white;
   border-radius: 4px;
   font-weight: 600;
}

.subscription-btn:hover,
.subscription-btn:focus {
   text-decoration: none;
   background-color: #7B1FA2;
   color: white;
   outline: none;
   transform: scale(1.05);
}

.profile-label {
   font-weight: 600;
   margin-bottom: 3px !important;
}

.profile-label+span{
   cursor: pointer;
   backface-visibility: hidden;
}

.profile-label+span:hover{
   transform: rotate(-10deg);
}


.modify-btn-link {
   color: #7B1FA2;
   font-size: 13px;
   cursor: pointer;
}

.modify-btn-link:hover,
.modify-btn-link:focus {
   text-decoration: underline;
}

.profile-fields {
   padding: 0.75rem 1.25rem;
   font-size: 18px;
   border-radius: 6px;
   width: 100% !important;
   max-height: 300px;
}

.side-by-side-fields {
   display: flex;
   gap: 1.5rem;
}

.profile-fields-container {
   flex: 1;
}

.city-field {
   inset: auto 0;
   max-height: 300px;
   overflow: auto;
   min-width: 100%;
   z-index: 99;
}

.subject-form-container {
   padding: 1rem 0;
   flex-grow: 0.5;
}

.max-width-sub-container {
   width: 35%;
   min-width: 300px;
   gap: 1.5rem;
}

.update-submit-btn-container {
   display: flex;
   justify-content: flex-end;
}

.subject-form {
   background-color: #f4f4f4;
   padding: 2rem;
   border-radius: 6px;
}

.subject-data-container {
   padding: 0.75rem 1rem;
   background-color: #e7e7e7;
   border-radius: 6px;
}

.subject-subtitle {
   font-weight: 600;
}

.subject-topic {
   max-width: 80%;
   text-transform: capitalize;
}

.subject-check-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   min-height: 30px;
}

.check-input {
   width: auto !important;
}

.verification-status, .non-verified-status{
   background-color: white;
   border: 2px solid rgb(28, 177, 28);
   color: rgb(28, 177, 28);
   max-width: max-content;
   border-radius: 6px;
   font-weight: 800;
   font-size: 14px;
   height: 100%;
   padding: 5px;
   display: flex;
   align-items: center;
   gap: 5px;
   position: absolute;
   top: 0px;
   right: 0px;
}

.non-verified-status{
   border: 2px solid rgb(231, 72, 72);
   color: rgb(231, 72, 72);
}

@media (max-width: 1080px) {
   .main-form-container {
      max-width: 95%;
      gap: 1.5rem;
   }

   .form-heading-container {
      flex-direction: column;
      align-items: flex-start;
      gap: 2rem;
   }

   .subject-form {
      padding: 1rem;
   }
}

@media (max-width: 850px) {
   .side-by-side-fields {
      flex-direction: column;
   }

   .status{
      display: none;
   }

   .verification-status, .non-verified-status{
      padding: 10px;
   }
}

@media (max-width: 700px) {
   .main-form-container {
      flex-direction: column;
      gap: 1rem;
      max-width: 98%;
   }

   .status{
      display: inline-block;
   }

   .verification-status, .non-verified-status{
      padding: 5px;
   }

   .subject-form-container {
      max-width: 100% !important;
      padding: 0rem;
   }

   .update-submit-btn-container {
      justify-content: center;
   }

   .max-width-sub-container {
      min-width: 100%;
      gap: 1rem;
   }

   .profile-form-container {
      padding: 0;
      gap: 1rem;
   }
}

@media (max-width: 450px) {
   .profile-image {
      width: 150px;
      height: 150px;
   }

   .profile-image-error {
      left: -40px
   }

   .img-upload-container {
      margin: auto;
      align-items: center;
      flex-direction: column;
      gap: 1.5rem;
   }

   .form-heading-container {
      gap: 10px;
      align-items: center;
   }

   .status{
      display: none;
   }

   .verification-status, .non-verified-status{
      padding: 10px;
   }
}