

.intro_card {
    margin-left: 50px;

  }
/* // X-Small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media  (min-width: 320px) { 
    /* .intro_plat{

        align-items: center;
        justify-content: center;
      
    }
    .intro_card{
         text-align: center;
    } */
    
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 480px) { 
    /* .intro_plat{

        align-items: center;
        justify-content: center;
      
    }
    .intro_card{
         text-align: center;
    } */
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 600px) { 
    /* .intro_plat{

        align-items: center;
        justify-content: center;
      
    }
    .intro_card{
         text-align: center;
    } */
 }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 801px) { 
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1281px) { 

 }